body {
    font-family: gigi, century;
    margin: 10% 30% 0 30%;
}
h1{
    color : red;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
#desccarte {
    background-color: rgba(255, 255, 128, .5);
}
#uldisp {
    opacity: 0;
}
#uldisp:hover {
    opacity: 1;
}
#zoom:hover {
    transform: scale(1.5, 1.5);
}