<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body class="graybg">
    <nav class="navbar container text-white" style="height: 80px;font-size: 1.25rem;">
        <div class="h-100">
            <img src="../img/logo.png" class="mw-100 mh-100 mr-3">
            <a class="mr-3 text-white">Accueil</a>
            <a class="text-white">Commander</a>
        </div>
        <div>
            <a href="#" class="text-white">Connexion</a>
        </div>
    </nav>
    <div style="background-color: #FFF;">
    <div id="app" class="container whitebg">
        <form method="post" v-on:submit="sub" class="px-3 py-3" id="myform">
            <div class="form-group">
            <label for="cat">Catégorie</label>
            <input type="text" class="form-control" name="cat" placeholder="Votre catégorie" id="cat" v-model="cat">
            </div>
            <div class="form-group">
            <label for="dated">Date de début</label>
            <input type="date" class="form-control" name="dated" id="dated" v-model="dated">
            </div>
            <div class="form-group">
            <label for="datef">Date de fin</label>
            <input type="date" class="form-control" name="datef" id="datef" v-model="datef">
            </div>
            <label for="reserv">Réservé : </label>
            <input type="checkbox" style="width:15px;height:15px" name="reserv" id="reserv" v-model="reserv">
            <div class="w-100 text-center">
                <button type="submit" class="btn btn-danger">Se connecter</button>
            </div>
        <template>
            <div class="table-responsive">
                <table class="table-hover my-4 mx-auto" v-if="info">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre de couchage</th>
                            <th>Porte</th>
                            <th>Etage</th>
                            <th>Categorie</th>
                            <th>Baignoire</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, idx) in info" class="text-center">
                            <td>{{ item[0] }}</td>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <td>{{ item[3] }}</td>
                            <td>{{ item[4] }}</td>
                            <td>{{ item[5] }}</td>
                            <td>{{ item[6] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
        </form>
    </div>
    </div>
<script>
new Vue({
  el: '#myform',
  data:{
      info: null,
      reserv: null,
      dated: null,
      datef: null,
      cat: null
  },
    
  methods:{
      sub: function(event){
            event.preventDefault();
            axios({
              method: 'get',
              url: 'http://127.0.0.1:5000/chambressearch',
              responseType: 'json',
              params: {
                 cat: this.cat,
                 reserv: this.reserv,
                 dated: this.dated,
                 datef: this.datef
              }
            })
           .then(async res => { 
             if(res.status === 200) {
                   this.info=res.data;
                 console.log(res.data);
              } else if(res.status === 400) { 
                  this.info=""; }
           });
     }
  }
})
</script>
    </body>
</html>