body{
    background-color: #FFFFFF;
    height: 100%;
}
input[type="text"] {
    font-size: 1.2rem;
}
input[type="email"] {
    font-size: 1.2rem;
}
.navbar-default{
    transition:500ms ease;
    background:transparent;
}
.navbar-default.scrolled{
    background:#FFF;
    box-shadow: 2px 2px 5px 2px rgba(45,49,66,.3);
}
#navoid{
    height: 77px;
}
#accueil{
    animation-name: appear;
    animation-duration: 3s;
    -webkit-animation-name: appear;
    -webkit-animation-duration: 3s;
}
@keyframes appear {
  from { opacity: 0; transform: scaleX(0); }
  to   { opacity: 1; transform: scaleX(1); }
}
#presentation {
    background-color: #202030;
    color: #fff;
}
#competences {
}
@keyframes appear2 {
}
#contact {
    background-color: #2d3142;
    color: #fff;
}
.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 13px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 1.5rem;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.un .progress-bar{
    border-color: #049dff;
}
.progress.un .progress-left .progress-bar{
    animation: loading-2 1.2s linear forwards 1.8s;
}
.progress.deux .progress-bar{
    border-color: #fdba04;
}
.progress.deux .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.trois .progress-bar{
    border-color: #ed687c;
}
.progress.trois .progress-left .progress-bar{
    animation: loading-4 0.8s linear forwards 1.8s;
}
.progress.quatre .progress-bar{
    border-color: #008000;
}
.progress.quatre .progress-left .progress-bar{
    animation: loading-5 1.4s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(108deg);
        transform: rotate(108deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(72deg);
        transform: rotate(72deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(162deg);
        transform: rotate(162deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}
::placeholder {
  font-size: 1.2rem;
}
.divpopup{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2000;
}
.mypopup{
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;
    background-color: #fff;
    overflow: auto;
}
.popupmessage{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100%;
}
.valign{
    margin-top: 50vh;
    transform: translateY(-50%);
}